.smart-social-share-container {
	clear: both;
	margin: 10px 0 10px;
}

.smart-social-share-button {
	display: inline-block;
	margin: 0 6px 0 0;
	vertical-align: top;
}

.smart-social-share-button.fb_like {
	margin-bottom: 3px;
}

/* button_count */
.button-count .smart-social-share-button.gl_plusone {
	width: 70px;
}

.button-count .smart-social-share-button.tw_tweet {
	width: 99px;
}

/* box-count */
.box-count .smart-social-share-button.gl_plusone {
	margin-top: 2px;
}
